// Base structure
.container {
	margin: 0 10px;
}
section {
	margin-bottom: 84px; // White space between sections
}
// Buttons
.btn {
	display: inline-block;
	cursor: pointer;
	padding: 12px 24px; // Edit this style
	border-radius: 4px;
	font-weight: 600;
	&__primary {
		@extend .btn;
		&--fill {
			@extend .btn__primary;
			background-color: map-get($colors, "primary");
			color: white;
			&:hover {
				transition-duration: 300ms;
				background-color: #1919b3;
			}
		}
		&--opacity {
			@extend .btn__primary;
			background-color: rgba(36, 36, 255, 0.1);
			color: map-get($colors, "primary");
			transition-duration: 400ms;
			&:hover {
				background-color: map-get($colors, "primary");
				color: white;
			}
		}
	}
	&__white {
		@extend .btn;
		&--outline {
			@extend .btn__white;
			border: 2px solid white;
			color: white;
			&:hover {
				transition-duration: 300ms;
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
	}
}
// Navegation
.nav {
	padding: 1.5rem 0.5rem;
	&__menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		&--burger {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			&-close {
				display: none;
			}
			&.active {
				.nav__menu--burger-open {
					display: none;
				}
				.nav__menu--burger-close {
					display: flex;
					font-size: 28px;
				}
			}
		}
	}
	&-links {
		height: 0;
		overflow: hidden;
		> a {
			cursor: pointer;
			margin-right: 16px;
			color: map-get($colors-basic, "black1");
			font-weight: 500;
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
		}
		> button {
			@extend .btn__primary--opacity;
		}
		&.active {
			transition: all 0.5s ease;
			width: 100%;
			height: auto;
			padding-top: 12px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			> a {
				margin: 0 0 12px 0;
			}
		}
	}
}
// Footer
.footer {
    margin-top: 84px; // Space between Final CTA & footer
	text-align: center;
	color: white;
	background-color: map-get($colors-basic, "black2");
	padding: 24px 0;
	> h2 {
		font-size: $heading3;
		font-weight: bold;
	}
	p {
		margin: 24px 0;
		font-size: $text;
		font-weight: 500;
	}
	&-links {
		padding: 0 20px;
		display: flex;
		flex-direction: column;
		a {
			cursor: pointer;
			margin-bottom: 12px;
			color: white;
			font-size: $text-large;
			font-weight: 500;
		}
		button {
			margin-top: 12px;
			@extend .btn__white--outline;
		}
	}
}
// Modal
.modal {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	&-label {
		color: map-get($colors-basic, "black1");
		font-size: clamp($text, 5vw, $text-large);
		font-weight: 600;
	}
	&-input {
		margin-top: 12px;
		padding: 12px 0 12px 16px;
		border: 2px solid map-get($colors-basic, "gray2");
		border-radius: 8px;
		width: 96%;
		&:focus,
		&:hover {
			transition-duration: 300ms;
			background-color: map-get($colors-basic, "bg3");
			border: 2px solid map-get($colors, "primary");
		}
	}
	&-close {
		color: map-get($colors-basic, "gray2" );
		float: right;
		font-size: 24px;
		font-weight: bold;
		&:hover, &:focus {
			transition-duration: 300ms;
			color: map-get($colors-accent, "red" );
			text-decoration: none;
			cursor: pointer;
		}
	}
	&__card {
		padding: 20px 16px;
		background-color: white;
		border-radius: 12px;
		margin: 3% auto;
		width: 80%;
		overflow: auto;
		&--header {
			h3 {
				font-size: clamp($text-large, 5vw, $heading3);
				color: map-get($colors-basic, "black1");
				font-weight: bold;
			}
			p {
				font-size: clamp($text-small, 3vw, $text);
				margin: 12px 0;
				line-height: 1.6;
				color: rgba(14, 30, 37, 0.6);
			}
		}
		&--form {
			fieldset {
				margin: 18px 0;
				legend {
					@extend .modal-label;
					margin-bottom: 16px;
				}
				input[type="radio"] {
					background-color: initial;
					cursor: default;
					appearance: auto;
					box-sizing: border-box;
					margin-right: 4px;
					width: 1rem;
					height: 1rem;
				}
				p {
					margin-bottom: 12px;
				}
				label {
					font-weight: 500;
					color: map-get($colors-basic, "black1");
					cursor: pointer;
				}
			}
			div {
				display: flex;
				justify-content: center;
				button {
					@extend .btn__primary--fill;
					margin-top: 12px;
					width: 50%;
					text-align: center;
				}
			}
		}
	}
}

// Responsive
@media screen and (min-width: $largeScreen) {
	.container {
		margin: 0 50px;
	}
	// Navegation
	.nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0 30px;
		&__menu {
			&--burger {
				display: none;
			}
		}
		&-links {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			height: auto;
		}
	}
    // Footer
    .footer {
        display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 16px 0;
		p {
			margin: unset;
		}
		&-links {
			padding: unset;
			flex-direction: row;
			display: block;
			a {
				margin: 0 16px 0 0;
			}
			button {
				margin: unset;
			}
		}
    }
	// Modal
	.modal {
		&__card {
			max-width: 380px;
		}
	}
}