// Breakpoints
$mobile: 480px;
$largeScreen: 668px;
// Color
$colors: (
    "brand": #090B9A,
    "primary": #2424FF,
    "secundary": #2151AE,
    "third": #E8114E
);
$colors-accent: (
    "red": #EF233C,
    "yellow": #FCCA46,
    "green": #1BB55C,
    "blue": #2C7CED
);
$colors-basic: (
    "black1": #0E1E25,
    "black2": #0B0D17,
    "gray1": #B2B2B2,
    "gray2": #CDCDCD,
    "bg1": #F2F5F8,
    "bg2": #F6F8FA,
    "bg3": #FAFAFA
);
// Fonts + Responsive with Clamp();
$font: inter; // Always include this to font: value;
$hero1: clamp(2rem, 5vw, 3rem); // 48px
$heading1: clamp(2rem, 5vw, 2.3125rem); // 37px 
$heading2: clamp(1.75rem, 5vw, 2rem); // 32px 
$heading3: clamp(1.5rem, 5vw, 1.75rem); // 28px 
$text-large: 18px; // 18px
$text: 1rem; // 16px - neutral
$text-small: 0.875rem; // 14px